body {
  font-family: 'futura', sans-serif;
}

.uk-container {
  max-width: 980px;
}

@media (max-width: 639px) {
  .uk-container {
    padding: 0;
  }
}

.bg-normal {
  background: url('../img/bottom-bg.png') no-repeat left bottom;
}

.bg-yellow {
  background: #FFD200;
}

.bg-silver {
  background: rgb(255,255,255);
  background: -webkit-linear-gradient(rgba(255,255,255,1) 0%, rgba(214,213,212,1) 54%, rgba(203,202,200,1) 100%);
  background: -o-linear-gradient(rgba(255,255,255,1) 0%, rgba(214,213,212,1) 54%, rgba(203,202,200,1) 100%);
  background: linear-gradient(rgba(255,255,255,1) 0%, rgba(214,213,212,1) 54%, rgba(203,202,200,1) 100%);
}

.content-left {
  color: #ffffff;
  background: url('../img/top-left-sidebar-bg.png') no-repeat top center #DA291C;
}

.content {
  background: url('../img/bg-oil-splash.png') no-repeat left bottom;
}

.content--ramadhan {
  background-image: url('../img/bg-ramadhan-top.png'), url('../img/bg-ramadhan-mid.png'), url('../img/bg-ramadhan-bottom.png');
  background-position: center top, center, center bottom;
  background-repeat: no-repeat, repeat-y, no-repeat;
  background-color: #007F49;
  background-size: contain;
}

.content--everyday {
  background-image: url('../img/bg-circle.png'), url('../img/bg-shadow.png');
  background-position: right top, left center;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, cover;
  background-attachment: fixed, fixed;
  border: 5px solid #ffffff;
}

.content--everyday main {
  padding-bottom: 140px;
}

.logo {
  padding: 20px;
}

@media (max-width: 639px) {
  .logo {
    padding: 10px;
    margin-bottom: 50px;
  }

  .logo--left img {
    height: 30px;
    width: auto;
  }

  .logo--right img {
    height: 46px;
    width: auto;
  }
}

.uk-slidenav {
  color: #eee;
}

.uk-slidenav:focus, 
.uk-slidenav:hover {
  color: #fff;
  outline: 0;
}

.uk-dotnav {
  justify-content: center;
}

.uk-dotnav>*>* {
  background-color: #eee;
  border-color: transparent;
}

.uk-dotnav>.uk-active>* {
  background-color: #fff; 
}

.logo-bottom a {
  display: inline-block;
  margin-right: 20px;
}

.logo-bottom a:last-child {
  margin-right: 0;
}

.headline {
  font-family: futura;
  font-weight: 300;
  font-size: 4rem;
  text-transform: uppercase;
  color: #002F6C;
}

.headline b {
  font-size: 5rem;
  font-weight: 700;
  color: #DA291C;
}

.sub-headline {
  font-family: futura;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #fff;
  padding: 10px 20px;
  display: inline-block;
}

.sub-headline b {
  font-weight: 500;
}

.price__before {
  background: #ffd10070;
  margin: 20px 0 0;
  text-decoration:  line-through;
  line-height: 1;
  padding: 15px;
}

.price__after {
  background-color: #da291ca3;
  color: #fff;
  margin: 0;
  line-height: 1;
  padding: 20px;
}

.rules-container {
  background: url('../img/product-headline.png') no-repeat bottom right;
  background-size: contain;
  padding: 20px;
}

.rules {
  text-align: left;
}

.rules-list {
  list-style: none;
  padding-left: 0;
}

.rules__title {
  font-size: 20px;
  font-weight: 300;
  display: inline-block;
  background-color: #fff;
  margin-left: -18px;
  padding: 5px 15px;
  border-radius: 5px;
}

.rules-list li {
  margin-bottom: 15px;
}

.rules__headline {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-size: 20px;
  color: #dedddd;
  background: #005a83;
  padding: 10px 20px;
  display: inline-block;
}

.rules__image {
  display: inline-block;
  position: relative;
  z-index: 22;
  top: -4px;
}

.rules-bg {
  display: none;
}

@media (max-width: 639px) {
  .rules-container {
    background: none;
  }
  .rules-list {
    text-align: center;
  }
  .rules-list li {
    background-color: #fff;
  }
  .rules__title {
    margin-left: 0;
    display: block;
  }
  .rules-bg {
    display: block;
  }
}

.poins-benefit {
  margin: 0 auto;
  border-radius: 15px;
}

.poins-benefit h3 {
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #595f65;
  color: #fff;
  padding: 10px 20px 15px;
  line-height: 1;
  display: inline-block;
}

.poins-benefit b {
  display: block;
  color: #eee;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;
  margin-top: 15px;
}

.poins-benefit-box {
  background: #595f65;
  min-height: 130px;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #fff;
}

.button__store,
.button__register {
  font-size: 23px;
  height: auto;
  line-height: 1.2;
  border-radius: 9px;
  padding: 20px;
  color: #fff;
}

.button__store:hover,
.button__register:hover {
  color: #000;
}

.button__store {
  font-family: 'futura', sans-serif;
  background-color: #DA291C;
  border: 1px solid transparent;
  margin-bottom: 15px;
}

.button__register {
  font-family: 'futura', sans-serif;
  background-color: #FFD200;
  border: 1px solid transparent;
  margin-bottom: 15px;
}


.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

@media (max-width: 639px) {
  .footer {
    position: static;
  }
  .button__store,
  .button__register {
    width: 80%;
  }
}

.footer-container {
  background: url('../img/bottom-bg.png') no-repeat center bottom;
  padding: 30px 20px 20px;
  background-size: contain;
}

.blue {
  color: #002F6C;
}

.orange {
  color: #ED8B00;
}

.content--ramadhan .poins-benefit {
  padding-bottom: 100px;
}

.content--ramadhan .poins-benefit h3 {
  background-color: transparent;
}

.content--ramadhan .poins-benefit-box {
  background: transparent;
  border: none;
  min-height: auto;
  padding: 0;
}

.content--ramadhan .poins-benefit b {
  color: #ffeca9;
  font-weight: 400;
}

.content--ramadhan .sub-headline {
  background-color: #ffeca9;
}

.content--ramadhan .headline {
  font-weight: 500;
  font-size: 2rem;
  color: #fff;
}

.content--ramadhan .headline img {
  background-color: #ffd200;
}

@media (max-width: 639px) {
  .content--ramadhan .headline img {
    width: 155px;
    margin-right: 5px;
  }
}

.content--ramadhan .headline b {
  color: #ffd200;
}