body {
  font-family: 'futura', sans-serif;
}

.uk-container {
  max-width: 980px;
}

.bg-normal {
  background: url('../img/bottom-bg.png') no-repeat left bottom;
}

.bg-yellow {
  background: #FFD200;
}

.bg-silver {
  background: rgb(255,255,255);
  background: -webkit-linear-gradient(rgba(255,255,255,1) 0%, rgba(214,213,212,1) 54%, rgba(203,202,200,1) 100%);
  background: -o-linear-gradient(rgba(255,255,255,1) 0%, rgba(214,213,212,1) 54%, rgba(203,202,200,1) 100%);
  background: linear-gradient(rgba(255,255,255,1) 0%, rgba(214,213,212,1) 54%, rgba(203,202,200,1) 100%);
  background-attachment: fixed;
}

.content-left {
  color: #ffffff;
  background: url('../img/top-left-sidebar-bg.png') no-repeat top center #DA291C;
}

.content {
  background: url('../img/bg-oil-splash.png') no-repeat left bottom;
  background-attachment: fixed;
}

.content--ramadhan {
  background-image: url('../img/bg-ramadhan-top.png'), url('../img/bg-ramadhan-mid.png'), url('../img/bg-ramadhan-bottom.png');
  background-position: center top, center, center bottom;
  background-repeat: no-repeat, repeat-y, no-repeat;
  background-color: #007F49;
  background-size: contain;
}

.content--everyday {
  background-image: url('../img/bg-circle.png'), url('../img/bg-shadow.png');
  background-position: right top, left center;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, cover;
  background-attachment: fixed, fixed;
  background-color: #ffffff9c;
}

.logo {
  padding: 20px;
}

.uk-slidenav {
  color: #eee;
}

.uk-slidenav:focus, 
.uk-slidenav:hover {
  color: #fff;
  outline: 0;
}

.uk-dotnav>*>* {
  background-color: #000;
  border-color: transparent;
}

.uk-dotnav>.uk-active>* {
  background-color: #fff; 
}

.logo-bottom a {
  display: inline-block;
  margin-right: 20px;
}

.logo-bottom a:last-child {
  margin-right: 0;
}

.headline {
  font-family: futura;
  font-size: 2rem;
  text-transform: uppercase;
  color: #002F6C;
  text-shadow: 1px 3px 1px #fff;
  margin: 5px auto 20px;
  max-width: 80%;
}

.headline b {
  font-weight: 500;
  color: #DA291C;
}

.sub-headline {
  font-family: futura;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #fff;
  padding: 10px 20px;
}

.sub-headline b {
  font-weight: 500;
}

.price__before {
  background: #ffd10070;
  margin: 20px 0 0;
  text-decoration:  line-through;
  line-height: 1;
  padding: 15px;
}

.price__after {
  background-color: #da291ca3;
  color: #fff;
  margin: 0;
  line-height: 1;
  padding: 20px;
}

.register-container {
  background: url('../img/product-headline.png') no-repeat bottom right;
  background-size: contain;
  padding: 40px;
}

/* 
 Rules
 */

.rules {
  text-align: left;
}

.rules-box {
  background-color: #fff;
  padding: 20px;
}

.rules__title {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 300;
  display: block;
}

.rules__headline {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-size: 20px;
  color: #fff;
  background: #0053a0;
  padding: 10px 20px;
  display: inline-block;
}

.rules__image {
  display: block;
}

.rules-bg {
  display: none;
}

/* 
 Point Benefit
 */

.poins-benefit {
  background: #0053a0;
  padding: 20px 0;
}

.poins-benefit h3 {
  text-transform: uppercase;
  color: #fff;
}

.poins-benefit b {
  display: block;
  color: #eee;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;
  margin-top: 15px;
}

.poins-benefit-box h4 {
  color: #fff;
  margin: 0 0 5px;
  text-transform: uppercase;
  font-size: 1rem;
}

/* 
 Button
 */

.button__store,
.button__register {
  font-family: 'futura', sans-serif;
  font-size: 23px;
  border-radius: 6px;
  color: #fff;
  border: 1px solid transparent;
}

.button__store:hover,
.button__register:hover {
  color: #000;
}

.button__store {
  background-color: #ffd204;
  color: #000;
}

.button__register {
  background-color: #d82a20;
}

/* 
 Footer
 */

.footer-container {
  background: url('../img/bottom-bg.png') no-repeat center bottom;
  padding: 40px 20px 20px;
}

.content--ramadhan .poins-benefit {
  padding-bottom: 100px;
}

.content--ramadhan .poins-benefit h3 {
  background-color: transparent;
}

.content--ramadhan .poins-benefit-box {
  background: transparent;
  border: none;
  min-height: auto;
  padding: 0;
}

.content--ramadhan .poins-benefit b {
  color: #ffeca9;
  font-weight: 400;
}

.content--ramadhan .sub-headline {
  background-color: #ffeca9;
}

.content--ramadhan .headline {
  font-weight: 500;
  font-size: 2rem;
  color: #fff;
}

.content--ramadhan .headline img {
  background-color: #ffd200;
  height: 140px;
  margin-right: 10px;
}

.content--ramadhan .headline b {
  color: #ffd200;
}

.store-container {
  background: #fff;
  padding: 20px 0;
  margin-top: 20px;
}


@media (max-width: 639px) {
  .uk-container {
    padding: 0;
  }

  .content--everyday {
    background-size: cover, cover;
  }

  .logo {
    padding: 10px;
  }

  .logo--left img {
    height: 30px;
    width: auto;
  }

  .register-container {
    background: none;
  }

  .headline {
    font-size: 1.5rem;
  }

  .logo--right img {
    height: 46px;
    width: auto;
  }

  .rules-container {
    background: none;
  }

  .rules-list {
    text-align: center;
  }

  .rules-list li {
    background-color: #fff;
  }

  .rules__title {
    margin-left: 0;
    display: block;
  }

  .rules-bg {
    display: block;
  }

  .content--ramadhan .headline img {
    width: 155px;
    margin-right: 5px;
  }

  .dataTable-bottom>div:first-child, .dataTable-top>div:first-child,
  .dataTable-bottom>div:last-child, .dataTable-top>div:last-child {
    float: none;
    width: 100%;
  }

  .dataTable-input {
    width: 90%;
  }
}

.sub-headline-bottom {
  color: #0053a0;
  max-width: 80%;
  margin: 0 auto 30px;
  font-weight: 500;
  text-shadow: 0px 3px 5px #fff;
}

.register-container form {
  background: #ffd204;
  padding: 20px;
}

.register-container form label {
  font-family: 'futura',sans-serif;
  margin-top: 5px;
  font-weight: 500;
  color: #000;
}

.register-container form input {
  border: none;
}

.register-container form input.uk-radio {
  background-color: #d82a20;
}

.button__store:hover {
  background: #ee2e24;
}

.thankyou-box {
  background-color: #ffd204;
  width: 90%;
  max-width: 500px;
  margin: 20px auto;
  text-align:  center;
  color: #fff;
  font-family: 'futura', sans-serif;
}

.thankyou-box h1 {
  background: red;
  color: #fff;
  padding: 15px 20px;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
}

.thankyou-box h2 {
  margin: 0;
  padding: 15px 20px;
  line-height: 1.2;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.3rem;
}

.thankyou-box h3 {
  margin: 0;
  padding: 20px;
  background-color: #c3c3c3;
  font-size: 1.1rem;
  font-weight: 300;
}