
body {
  font-family: 'futura', sans-serif;
  background: linear-gradient(90deg, #FFCD00 50%, #DA291C 50%);
}

/* .main-container {
  border-left: 1px solid #ffcd00;
  border-right: 1px solid #da291c;
} */

.content-left {
  color: #ffffff;
  background: url('../img/top-left-sidebar-bg.png') no-repeat top center #DA291C;
}

.content-right {
 background: url('../img/patterns.png') repeat top left #FFCD00;
  border-left: 5px solid #fff;
}

.uk-slidenav {
  color: #eee;
}

.uk-slidenav:focus, 
.uk-slidenav:hover {
  color: #fff;
  outline: 0;
}

.uk-dotnav {
  justify-content: center;
}

.uk-dotnav>*>* {
  background-color: #eee;
  border-color: transparent;
}

.uk-dotnav>.uk-active>* {
  background-color: #fff; 
}

.button__store {
  background-color: #DA291C;
  color: #fff;
  border: 1px solid transparent;
}

.button__store:hover {
  background-color: #da291ccf;
}

.logo-bottom a {
  display: inline-block;
  margin-right: 20px;
}

.logo-bottom a:last-child {
  margin-right: 0;
}

.hashtag {
  font-family: 'futura';
  font-weight: 700;
  color: #DA291C;
}

.headline {
  font-family: futura;
  font-weight: 300;
  font-size: 5rem;
  text-transform: uppercase;
}

.headline b {
  margin-left: 10px;
  font-size: 6rem;
  font-weight: 500;
  color: #DA291C;
}