@font-face {
  font-family: 'futura';
  src: url('../fonts/futura_light_bt-webfont.ttf') format('truetype'),
       url('../fonts/futura_light_bt-webfont.svg#futura') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'futura';
  src: url('../fonts/futura_book_font-webfont.ttf') format('truetype'),
       url('../fonts/futura_book_font-webfont.svg#futura') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'futura';
  src: url('../fonts/futura_medium_bt-webfont.ttf') format('truetype'),
       url('../fonts/futura_medium_bt-webfont.svg#futura') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'futura';
  src: url('../fonts/futura_bold_font-webfont.woff2') format('woff2'),
       url('../fonts/futura_bold_font-webfont.woff') format('woff'),
       url('../fonts/futura_bold_font-webfont.ttf') format('truetype'),
       url('../fonts/futura_bold_font-webfont.svg#futura') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'futura';
  src: url('../fonts/futura_book_italic_font-webfont.woff2') format('woff2'),
       url('../fonts/futura_book_italic_font-webfont.woff') format('woff'),
       url('../fonts/futura_book_italic_font-webfont.ttf') format('truetype'),
       url('../fonts/futura_book_italic_font-webfont.svg#futura') format('svg');
  font-weight: 700;
  font-style: italic;
}
